<article class="video">
	<div class="video-thumbnail col-3">
		<!-- <iframe title="YouTube video player" class="youtube-player" type="text/html" width="200" height="135" src="http://www.youtube.com/v/uelHwf8o7_U?version=3&amp;f=videos&amp;d=AfaDH_nQgCuNTKHkPssLQt4O88HsQjpE1a8d1GxQnGDm&amp;app=youtube_gdata" frameborder="0" allowFullScreen></iframe> -->
		<img src="http://i.ytimg.com/vi/uelHwf8o7_U/mqdefault.jpg" />
	</div>
	<div class="video-info col-8">
		<h2>Name</h2>
		<p>uploaded...</p>
		uploader - media:credit [role=uploader] 
		description - media:description
		media:thumbnail
		<yt:duration seconds='268'/>
		<yt:statistics favoriteCount='0' viewCount='595036526'/>
		<yt:rating numDislikes='51312' numLikes='1485092'/>

		<p>rating gd:rating average='4.8664103'</p>
		<p>categories </p>
		<p>comments...</p>
	</div>
</article>

<hr>
<br>
<hr>

<div id="player"></div>

<div id="end-container"></div>