<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/W-Q7RMpINVo" frameborder="0" allowFullScreen>
</iframe>

<hr>
<br>
<hr>


<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/v/uelHwf8o7_U?version=3&amp;f=videos&amp;d=AfaDH_nQgCuNTKHkPssLQt4O88HsQjpE1a8d1GxQnGDm&amp;app=youtube_gdata" frameborder="0" allowFullScreen>
</iframe>


<hr>
<br>
<hr>

<div id="player"></div>

<div id="end-container"></div>