/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./../../../vendor/assets/stylesheets/
 *= require_tree .
 */
$screen-small:               768px !default;
$screen-large:               1200px !default;

.container{
	background: whitesmoke;
}
.app-title{
	padding-top: 5px;
	margin-top: -10px;
	width: 126%;
	margin-left: -13% !important;
	background: #6683b3;
	color: white;
	text-shadow: 0 0 2px rgba(0,0,0,.3)
}

.header-title, .title, .center{
	text-align: center;
}
h2.title{
	margin-left: 20px;
}
.header-title{
	font-size: 3em;
}
div.video, article.video{
	padding: 10px;
	width: 100%;
	&:before,
	  &:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	  }
	  &:after {
	    clear: both;
	  }

	border-bottom: 5px #cccccc inset;
	margin-left: -11px;
	margin-bottom: 1px;
}
.videos-container{
	background: #dedede;
}

.video-thumbnail{
	@media (max-width: $screen-small){
		&.col-3{
			width: 50%;
			margin-right: 30px;
		}
		img{
			border: solid black 1px;
		}
	}
	font-size: 12px;
	img{
		margin-top: 10px;
		margin-bottom: -10px;
		max-width: 100%;
	}
}
.video-meta{
	@media (min-width: $screen-large) {
		border-left-color: rgb(0, 0, 0);
		border-left-style: dashed;
		border-left-width: 1px;
  	}
	@media(max-width: $screen-large - 1){
		ul{
			width: 300%;
		}
		li{
			display: inline-table;
			float: left;
			margin: 10px;
		}
	}
	
	ul{
		list-style-type: none;
		li{
			list-style-type: none;
		}
	}
}




// buttons
button:active, button:hover{
	-webkit-box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666;
	-moz-box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666;
	box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666
}

button{
	font-size:16px;
	width:150px;
	padding:8px 0;
	background: #6683b3;
	color:white;
	cursor:pointer
}

.stars{
	span{
		content: '★ ';
		color: #ddd;
		text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
		font-size: 100%;
		line-height: 1.2;
		width: 2em;
		overflow: hidden;
		white-space: nowrap;
		&.active{
			color: gold;
			text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
		}
	}
}

.row div.modal{
	display: none;
}
.top-right{
	right: 10px;
	top: 10px;
	position: absolute;
	
}
a.top-right{
	text-decoration: none;
}
.modal-footer{
	width: 94%;
	text-align: center !important;
	a{
		text-align: center;
		margin: auto;
	}
}
.modal-header{
	text-align: center !important;
	width: 95%;
}

.search-box{
	position: fixed;
	left: 0px;
	top:40%;
	height: 150px;
	width: 5%;
	background: #dedede;
	vertical-align: middle;
	.label{
		position: absolute;
		vertical-align: middle;
		text-align: center;
		float: right;
		right: 0px;
		/*top: 30%;*/
		-webkit-transform: rotate(90deg);
		/* Firefox */
		-moz-transform: rotate(90deg);
		/* IE */
		-ms-transform: rotate(90deg);
		/* Opera */
		-o-transform: rotate(90deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);		

		background: #6683b3;
		width: 150px;
		/*right: -60px;*/
		right: -50px;
		top: 34%;
		color: white;
		line-height: 3em;
	}

	.search-form{
		display: none;
		padding: 70px;
		@media(max-width: $screen-large){
			padding-left: 10px !important;
		}
		.form-title{
			margin-bottom: 0px;
			margin-top: -20px;
			text-align: center;
		}
		input{
			width: 145px;
		}
	}

	&:hover{
		width: 25%;
		@media(max-width: $screen-large){
			width: 30%;
		}
		@media(max-width: $screen-small){
			width: 60%;
		}

		-webkit-box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666;
		-moz-box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666;
		box-shadow:inset 0 0 5px 2px #333, 0 1px 0 0 #666;

		height: 300px;

		.search-form{
			display: inline-block;
			position: relative;
		}
		.label{
			width: 300px;
			top: 42%;
			right: -130px;
			@media(max-width: $screen-small){
				 /*display: none;*/
			}
		}
	}
}